<DOCTYPE! html>
<html>
   <head></head>
   <body>
     <div>
       <div>Submit a file to view its filesize.</div>
       <form method='post' enctype='multipart/form-data' action='/get-file-size' >
        <input type='file' name='image'>
        <input type='submit'> 
       </form>
     </div>
     <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src='app.js'></script>
   </body>
</html>